<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/recetas">Administración</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/recetas/nueva">Añadir receta</a>
            </li>
        </ul>
        <div>
            <div class="nav-item my-2 my-lg-0">
                <a class="nav-link" href="/auth/logout">Logout</a>
            </div>
        </div>
    </div>
</nav>