{% extends "base.njk" %}

{% block contenido %}
<br><br><br>
<div class="form-inline md-form mr-auto mb-10">
    <input class="form-control col-md-10 mr-sm-8" type="search" placeholder="Search" aria-label="Search">
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <a class="btn btn-success" href="/buscar" role="button">Buscar</a>
</div>
{% endblock %}