{% extends "publico_base.njk" %}

{% block contenido %}
<br><br><br>
<form action="/buscar" method="post" class="form-inline md-form mr-auto mb-10">
    <input class="form-control col-md-10 mr-sm-8" type="search" placeholder="Buscador de recetas" aria-label="Search" name="titulo">
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <input type="submit" class="btn btn-success" value="Buscar"></a>
</form>
<br>
<div class="jumbotron">
    <table width="100%">
        {% for receta in recetas %}
            <tr>
                <td class="par">{{ receta.titulo }}</td>
                <td>
                    <a class="btn btn-success" href="/receta/{{ receta.id }}">Ver ficha</a>
                </td>
            </tr>
        {% else %}
            <tr><td> {{ error }}</td></tr>
        {% endfor %}
    </table>
</div>
{% endblock %}