<!doctype html>
<html>
    <head>
        <title>
            {% block titulo %}{% endblock %}
        </title>
        <link rel="stylesheet" href="/public/css/estilos.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
    
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/recetas">Administración</a>
            </li>
        </ul>
        <div>
            <div class="nav-item my-2 my-lg-0">
                <a class="nav-link" href="/logout">Logout</a>
            </div>
        </div>
    
</nav>
            {% block contenido %}{% endblock %}
        </div>
    </body>
</html>